.lists {
  padding: 20px;
  background: #303056;
  height: 100vh;
  color: #303056;
  font-size: 20px;
  font-weight: bold;
  /* position: fixed; */
  /* text-align: center; */
}
a{
  text-decoration: none;
}

.childlist {
  background: white;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}
a{
  text-decoration: none;
}
.col-10{
  
}
.row{
  width: 100%;
}